
<table  id='t_correos' name='t_correo' class="table table-striped table-hover table-bordered">
    <thead>
    <tr>
        <th>asunto</th>
        <th>Mensaje</th>
        <th>Fecha / hora</th>
        <th>Destinatario</th>   
    </tr>
</thead>
 
   <tbody>
    {%for c in listaCorreos%}
    <tr>
        <td>{{c["asunto"]}}</td>
        <td>{{c["mensaje"]}}</td>
        <td>{{c["fecha"]}} / {{c["hora"]}}</td>
        <td>{{c["nombreusuario"]}}</td>  
    </tr>

    {%endfor%}
</tbody>   
</table>
    